.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared */
.primary-color{
 
color: rgb(253, 110, 10);

}



*{margin: 0;
padding: 0;}

/* nav style */
nav{
display: flex;
justify-content: space-between;
align-items: center;
margin: 50px 230px;
}

nav h3{
font-size: 45px;
font-weight: 800;
line-height: 61px;
letter-spacing: 0%;
}

nav ul li{
    list-style: none;
}

nav ul li a{
text-decoration: none;
color: rgb(71, 71, 71);
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
}

.btn{
border-radius: 5px;
background: rgb(253, 110, 10);
padding: 18px 36px;
border: none;
color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
}

nav ul {
    display: flex;
    gap: 51px;
    align-items: center;
    justify-content: center;

}